/* Dashboard */
.dashboard-wrapper{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
    background-image: url('../../public/Group8.svg');
    width: 100%;
    height: 100vh;
    z-index:-1;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .main-section{
    display: flex;
    justify-content: center;
    margin: 2em;
    text-align: center;
    flex-direction: column;
  }
  
  .main-section .main-title{
    color: #0D6878;
    font-size: 40px;
    
  }
  
  .main-subsection{
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #e5e5e5;
    box-shadow: inset -2px -3px 3px #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    text-align: center;
  }
  .main-subsection > input{
    border-radius: 1rem;
    border: 1.5px solid #FED03E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 2em;
    text-align: left;
  }
  
  .main-subsection > input:focus-visible{
    border: none;
  }
  
  .conversation-bubble{
    border-radius: 1rem;
    border: 1.5px solid #1DAFC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    padding: 1em;
    text-align: left;
  }
  
  .conversation-bubble > p{
    font-weight: lighter;
  }
  
  .date-info{
    color: #1793AA;
    display: flex;
    justify-content: flex-end;
  }
  
  .date-info > button {
    background-color: #FED03E;
    border-radius: 2rem;
    border: none;
    margin: 0 2rem 2rem 0;
    width: 10rem;
  }
  
  .date-info > button:hover{
    background-color: white;
    border: 0.5px solid #FED03E;
    color: #FED03E;
  }
  
  .dashboard-bubble{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1em;
    text-align: left;
  }
  .dashboard-bubble > .bubble-container{
    border-radius: 1rem;
    border: 1.5px solid #1DAFC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: left;
  }
  .dashboard-bubble > .bubble-container h1{
    margin: 0;
    font-size: 40px;
  }
  
  .waves{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
  }

  .danger-new{
    position: absolute;
    width: 100%;
    background-color: rgb(255, 196, 0);
    left: 0;
    top: 41px;
    padding: 7px;
    text-align: center;
  }
  
  
  @media only screen and (min-width: 960px) {
    .dashboard-wrapper{
      align-items: baseline;
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
    }

  @media (min-width: 1100px) {
    .dashboard-wrapper{
      padding-left: 200px;
      margin-top: 80px;
    }
    .danger-new{
      top: 62px;
      padding-left: 200px;

    }
  }
}