.search-subjects{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.search-subjects h4{
    padding: 10px;
}

.form-search-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(224, 224, 224);
    max-width: 1000px;
}

.form-search{
    width: 80%;
}

.form-search input{
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 15px;
    padding: 10px;
    outline-color: rgba(128, 128, 128, 0.548);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form-search button{
    margin: 10px 0 0 0;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #FED03E;
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-result{
    width: 100%;
    padding: 15px;
    max-width: 700px;
}

.list-container-result{
    width: 100%;
}
.list-result{
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: aliceblue;
    padding: 10px;
}

.name-subject{
    font-weight: bold;
}
.name-campus{
    font-size: 0.8rem;
    color: gray;
}
.name-teacher{
    font-size: 0.9rem;
    color: grey;
}

.link-detail-subject{
    color: rgb(34, 9, 253);
    text-decoration: underline;
}


.title-result{
    padding-top: 1rem;
    font-size: 1.3rem;
}

.btn-incript-subject{
    color: rgb(34, 9, 253);
    text-decoration: underline;
    cursor: pointer;

}
@media (min-width: 1100px) {
    .search-subjects{
        padding-left: 200px;
    }
}