.sidebar{
  display: none;
}
@media (min-width: 1100px) {
  .sidebar {
    display: block;
    height: 100%;
    width: 20%;
    max-width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    z-index: 81;
    background-color: #0D6878;
    border-right: 1px solid white;
  }
  
  .page-name{
    height: 120px;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .page-name img{
    width: 70px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
  .page-name h5{
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    

  }
  /* Style sidebar links */
  .nav-item {
    margin-top: 20px;
  }
  .sidebar a {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    color: white;
    display: block;
    border-bottom: 1px solid rgb(189, 189, 189);
  }
  .sidebar a:first-child{
    border-top: 1px solid rgb(189, 189, 189); 
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
}