<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Storys</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/estilos.css">
    <head>

    <body>
        <section class="portafolio">
            <h1>Crear Profesor/Materia/Tarea/Curso</h1>
            <div class="portafolio-container">

                <section class="portafolio-text">
                    <h2>Profesor</h2>
                </section>

        </section>
        <section class="portafolio-text">
            <h2>Materia</h2>
        </section>

        <section class="portafolio-text">
            <h2>Tarea</h2>

        </section>
        <section class="portafolio-text">
            <h2>Curso</h2>
        </section>
        </section>


    </body>

</html>