*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body{
    background: #e2e2e2;
    font-family: "Lato";
}

.portafolio{
    width: 90%;
    max-width: 1400px;
    margin: auto;

}

.portafolio h1{
    text-align: center;
    font-size: 38px;
    margin: 15px 0px 40px;
}

.portafolio-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);

}

.portafolio-text{
    position: absolute;
    bottom: 0;
    padding: 20px;

    background: #e2e2e2;
    color: #000;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

}

.portafolio-text:hover .portafolio-text{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}




    


