#login-background {
    background-image: url('https://img.freepik.com/vector-gratis/fondo-abstracto-rayas-arqueadas-tapa-parte-inferior-diseno-vector_1164-1300.jpg?w=2000');
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-body {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 16px;
    background-color: white;
    width: 90%;
    max-width: 500px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 2rem;
    box-shadow: 3px 3px 5px 0px rgba(158,158,158,0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(158,158,158,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(158,158,158,0.75);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#login-body h2{
    padding: 80px 0 0 0;
}
.input-contain-login{
    padding: 40px 0;
    width: 100%;
}
#log-input-field-holder {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;

}
#log-input-field-holder input{
    width: 100%;
    padding: 14px;
}

#log-input-field-holder h6 {
    margin: initial;
    padding-bottom: 10px;
}

#log-input-field {
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 0.5rem;
}

#log-input-button {
    background-color: rgb(245, 188, 83);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
}

#log-input-button:hover {
    background-color: rgb(245, 171, 33);
}

.link-container-register-login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
}